.invoice-file{
    display: none;
    margin:  0;
    .a4{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 210mm;
        height: 297mm;
        padding: 20mm;
        margin: 0 auto;
        color: black;
    
    .business-info {
        margin-bottom: 35px;
        margin-left: 10px;
        font-size: 22px;
        font-weight: bold;
        .business-name{
            font-size: 29px;
        }
        .siret {
            font-size: 16px;
        }
    }
    .invoice-number {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        font-size: 48px;
        font-weight: bold;
    }
    .invoice-info {
        padding: 10px;
        font-size: 16px;
        border: 1px solid black;
        flex: 1;
        
        .row {
            display: flex;
            margin-bottom: 15px;
            .address-div{
                width: 140px;
            }
        }
        .category {
            flex: 0 0 170px; 
            font-weight: bold;
        }

        .service-list{
            margin-left: 15px;
        }

        .price {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-end;
            font-weight: bold;
            .price-row {
                margin-right: 30px;
                .price-number{
                display: flex;
                justify-content: center;
                }
            }
        }
        .bank-number {
            position: absolute;
            bottom: 80px;
            font-size: 14px;
            font-weight: bold;
            padding: 20px 70px;
            .bank-account{
                
                margin-left: 100px;
            }
            .bic {
                display: flex;
                p {
                    margin-right: 47px;
                }
            }
            .name {
                margin-top: 14px;
            }
        }
    }
}
}
.button-div{
    display: none;
}
.visible {
    display: block;
  }
  .error{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .error-message {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;

        border-radius: 10px;
        color: black;
        width: 325px;
        height: 40px;
    }}

.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .download-button {
        width: 100px;
        height: 50px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: white;
        cursor: pointer;
    }
    .reset{
        margin-left:20px
    }
}
